p{
	color:darkslategray;
		
}
h1{
	color: coral;
	text-align: center;
}
h3{
	color: darkslategray;
	text-align: center;
}
h2{
	color: darksalmon;
	text-align: center;
}
body{
	background: cornsilk;
	
	font-family:Arial, Helvetica, sans-serif;
}
.shadows{
	text-shadow: 1px 1px gray;
}
.important{
	text-decoration:underline;
	font-weight: bold;
}


/* container for Experience */
img{
	float: right;
}